$white: white;
$black:black;

$colorsPurple:#9147ff;
$colorsPurple1:#040109;
$colorsPurple2:#0d031c;
$colorsPurple3:#15052e;
$colorsPurple4:#24094e;
$colorsPurple5:#330c6e;
$colorsPurple6:#451093;
$colorsPurple7:#5c16c5;
$colorsPurple8:#772ce8;
$colorsPurple9:#9147ff;
$colorsPurple10:#a970ff;
$colorsPurple11:#bf94ff;
$colorsPurple12:#d1b3ff;
$colorsPurple13:#e3d1ff;
$colorsPurple14:#ede0ff;
$colorsPurple15:#f3ebff;