.breadcrumb{
    
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;

    a, i
    {
        color: rgb(31, 31, 31)!important;
    }
    i
    {
        padding: 0px 8px;
    }
    .active
    {
        color: rgba(31, 31, 31,0.6)!important;
    }
}