.breadcrumb{
    
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;


    a
    {
        color: rgb(31, 31, 31)!important;
        padding: 0px 8px;

        &::after
        {
            content: "/";
            padding-left: 8px;
            display: inline-block;
            text-decoration: none;
        }

    }
    .active
    {
        color: rgba(31, 31, 31,0.6)!important;
    }
}