$color-divider: #E0D0CF;

hr,
.divider
{
  margin: 0 auto;
  width: 100%;
  position: relative;

  border-top: 2px solid $color-divider ;
  margin-bottom: 20px;

  &.dashed {
    border-top: 2px dashed $color-divider;
    margin-bottom: 20px;
  }

  &.dotted {
    border-top: 2px dotted $color-divider;
    margin-bottom: 20px;
  }
  &.shadow {
    // RESET
    border-top: none;
    margin: 0 auto;
    // TON TRUC CHELOU
    overflow: hidden;
    height: 20px;
    &:after {
      content: '';
      display: block;
      margin: -25px auto 0;
      width: 100%;
      height: 25px;
      border-radius: 125px/12px;
      box-shadow: 0 0 8px $color-divider;
    }
  }
}