.fab 
{
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    min-width: 56px;
    width: 56px;
    padding: 16px;
    overflow: hidden;
    position: relative;
    line-height: normal;

    @extend .button;

    &::before
    {
        content: "+" !important;
    }
}

.fab-box
{
    @extend .fab;
    border-radius: 16px;
}

.small-fab
{
    @extend .fab;
    display: block;
    height: 40px;
    min-width: 40px;
    width: 40px;
    border-radius: 12px;

    &::before
    {
        font-size: 12px;
    }
}