.footer
{
    display: flex;
    margin-top: auto;
    background: black;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 30px;
    div{         
        &:first-child{
            text-align: center;
            align-self: center;
            font-size: 30px;
        }
        color: rgba(white, 70%)!important;
        flex: 1;
        text-align: start;
        a
        {
            &:hover:not(:first-child){
                padding-left: 20px;
                color: #9147ff!important;
            }
            display: inline-block;
            padding: .5em;
            color: rgba(white, 70%)!important;
            text-decoration: none;
            &:first-child{
                color: white!important;
            }            
        }
    }
}