$background-color:white;
$color-inputLabel:grey;
$color: #212529;
$border-color: #dee2e6;
$box-shadow:0 0 10px lighten(#b093ff,8%);
$border-color-error: rgb(168, 18, 18);
$border-color-success:  rgb(7, 189, 53);
$border-color-focus:#b093ff;




.inputLabel
{
    color: $color-inputLabel;
    height: 56px;
    display: inline-flex;
    align-items: baseline;
    position: relative;
    padding: 0 16px;
    background-color: whitesmoke;

    &:active
    {
        background-color: darken(whitesmoke, 10%);
    }

    &:before
    {
        display: inline-block;
        width: 0;
        height: 40px;
        content: "";
        vertical-align: 0;
    }

    span
    {
        color: rgba(0, 0, 0, 0.6);
        left: 16px;
        right: initial;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1);

        position: absolute;
        transform-origin: left top;
        line-height: 1.15rem;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;
        overflow: hidden;
        will-change: transform;

        
    }

    input
    {

        height: 28px;
        transition: opacity 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        min-width: 0;
        border: none;
        border-radius: 0;
        background: none;
        appearance: none;
        padding: 0;

        &:focus
        {
            caret-color: #6200ee;
            outline: none;

            ~ span
            {
                font-size: 12px;
                transform: translateY(-160%);
                color :#6200ee;
                transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            + .lineripple:after{
                transform: scaleX(1);
                opacity: 1;
            }
        }

        + .lineripple{
            box-sizing: border-box;
            transform-origin: 118px center;


            &:before
            {
                z-index: 1;

                box-sizing: border-box;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                content: "";

                border-bottom-style: solid;
                border-bottom-color: rgba(0, 0, 0, 0.42);
                border-bottom-width: 1px;
            }
            &:after
            {
                position: absolute;
                box-sizing: border-box;
                content: "";
                z-index: 2;
                bottom: 0;
                left: 0;
                width: 100%;

                transform: scaleX(0);
                opacity: 0;

                border-bottom-style: solid;
                border-bottom-width: 2px;
                border-bottom-color: #6200ee;
                transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }
}


.helperline
{
    padding-right: 16px;
    padding-left: 16px;
    font-size: 0.75rem;
    display: inline-block;
    height: 16px;
}

.inputLabelborder{
    @extend .inputLabel;
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    &:active
    {
        border-color: #6200ee;
        background-color: transparent;
    }
    &::before{
        content: none;
    }

    input{
        height: 100%;
        &:focus
        {
            caret-color: #6200ee;
            outline: none;
    
            ~ span
            {
                font-size: 12px;
                transform: translateY(-200%);
                color :#6200ee;
                transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1);
                background-color: #FAFAFA;
                padding: 0px 2px;
            }
        }
    }
    &.error{
        border-color: red;
        &:active, &:focus
        {
            border: 2px solid red;
        }
        input:focus{
            caret-color: red;
        }


        + .helperline, i, span, input:focus ~ span
        {
            color: red;
        }
    }
}


.input{



    // border: 1px solid $border-color;
    // border-radius:5px ;
    // padding: 0.375rem 0.75rem;
    // font-size: 1rem;
    // font-weight:400;
    // line-height:1.5;
    // overflow:visible;
    // color: $color;
    // background-color: $background-color;
    // margin-bottom: 32px;
    // &:focus {
    //     color: $color;
    //     background-color: $background-color;
    //     border-color: $border-color-focus;
    //     outline:0;
    //     box-shadow: $box-shadow;    
    // }
    // &.error{
    //     border-color: $border-color-error;
    // }
    // &.success{
    //     border-color: $border-color-success;
    // }
}