$sizeText-title:32px;
$colorText-title:white;
$colorBack-head:#E91E63;
$colorBack-close:#D81B60;
$colorText-close:#FCE4EC;
$back-content:$colorText-close;
$colorText:black;
$sizeText:16px;
$modalBack:rgba(0, 0, 0, .8);
$colorText-foot:#F06292;




.modal {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    background: $modalBack;
    transition: opacity linear .2s;

    &:target {
      height: 100%;
      opacity: 1;
    }

    .content {
      position: relative;
      width: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      z-index: 200;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      &__head{
        font-size: $sizeText-title;
        color: $colorText-title;
        background-color: $colorBack-head;
        padding: 20px;
        font-weight: bold;
        border-radius: 5px 5px 0 0px;
      }

      &__corp{
        padding: 20px;
        color: $colorText;
        font-size: $sizeText;
        background:$back-content;
        &.ogames{
          background: #ede0ff;
        }
      }

      &__foot{
        padding: 20px;
        &.ogames{
          color: #9147ff;
        }
        color: $colorText-foot;
        background-color: $back-content;
        border-radius: 0 0 5px 5px;
        display: flex;
        justify-content: flex-end;
        span,div,button{
          margin: 0 10px;  ;
        }
      }

      &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        line-height: 20px;
        border-radius: 50px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        background: $colorBack-close;
        &.ogames{
          background-color: #9147ff;
        }
        color: $colorText-close!important;  
      }
    }

    &__close {  
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
}

.modalContainer {
    max-width: 600px;
}

