
//varible color
$color-red: #F44336;
$color-blue: #2196F3;
$color-green: #4CAF50;
$color-pink: #E91E63;
$color-yellow: #FFEB3B;
$color-orange: #FF9800;
$color-purple: $colorsPurple;
$color-grey: #9E9E9E;
$color-brown: #795548;

.navbar{
    position: sticky;
    top: 0;;
    width: 100%;
    display: flex;
    &.red{
        background: $color-red;
    }
    &.blue{
        background: $color-blue;
    }
    &.green{
        background: $color-green;
    }
    &.pink{
        background: $color-pink;
    }
    &.purple{
        background: $color-purple;
    }
    &.yellow{
        background: $color-yellow;
    }
    &.orange{
        background: $color-orange;
    }
    &.brown{
        background: $color-brown;
    }
    &.grey{
        background: $color-grey;
    }
    &.black{
        background-color: black;
    }

    .startNavbar,.endNavbar,.centerNavbar
    {
        padding: 16px;
        width: inherit;
        text-align: start;
        flex: 1;

        li{
            height: auto;
            float: left;
            list-style: none;
            flex: 1;

            a{
                color: #FFF!important;
                text-align: center;
                text-decoration: none;
                font: 20px Raleway;
                margin: 0px 10px;
                padding: 10px 10px;
                display: block;
                position: relative;
                z-index: 0;
                cursor: pointer;
            }

            &:hover .sousNavbar{
                display: block;
            }
            .sousNavbar{
                height: auto;
                margin: 0;
                padding: 0;
                position: absolute;
                background: black;
                display: none;

                a:before{
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    content: '';
                    background: #FFF;
                    opacity: 0.3;
                    transition: all 0.3s;
                }

                a:hover:before
                {
                    width: 100%;
                }
                a{
                    text-align: inherit;
                }
            }
        } 
    }

    .centerNavbar{
        display:flex;
        justify-content: center;
        flex: 4;
    }

    .endNavbar{
        display:flex;
        justify-content: end;
        flex: 1;
    }
} 

div.topBotomBordersOut{

    li{
        >a{
            &::after{
                position: absolute;
                left: 0px;
                width: 100%;
                height: 2px;
                background: #FFF;
                content: "";
                opacity: 0;
                transition: all 0.3s;
            }
    
            &:after
            {   
                bottom: 0px;
                transform: translateY(-10px);
            }
    
            &:hover::after{
                opacity: 1;
                transform: translateY(0px);
            }
        }
    } 
}

