//varible color
$color-red: #F44336;
$color-blue: #2196F3;
$color-green: #4CAF50;
$color-pink: #E91E63;
$color-yellow: #FFEB3B;
$color-orange: #FF9800;
$color-purple: $colorsPurple;
$color-grey: #9E9E9E;
$color-brown: #795548;

.navbar {
    position: sticky;
    top: 0;
    ;
    width: 100%;
    display: flex;

    &.red {
        background: $color-red;
    }

    &.blue {
        background: $color-blue;
    }

    &.green {
        background: $color-green;
    }

    &.pink {
        background: $color-pink;
    }

    &.purple {
        background: $color-purple;
    }

    &.yellow {
        background: $color-yellow;
    }

    &.orange {
        background: $color-orange;
    }

    &.brown {
        background: $color-brown;
    }

    &.grey {
        background: $color-grey;
    }

    &.black {
        background-color: black;
    }

    .startNavbar,
    .endNavbar,
    .centerNavbar {
        padding: 16px;
        width: inherit;
        text-align: start;
        flex: 1;

        height: auto;
        float: left;
        list-style: none;
        flex: 1;
        
        white-space: nowrap;

        a{
            color: #FFF!important;
            text-align: center;
            text-decoration: none;
            margin: 0px 10px;
            padding: 10px 10px;
            display: block;
            position: relative;
            z-index: 0;
            cursor: pointer;
            &:hover{
                color: $colorsPurple!important;
            }
        }

        a:hover + .sousNavbar,
        .sousNavbar:hover
        {
            display: block;
        }

        .dropdowngroup
        {
            position: relative;
        }

        .sousNavbar {

            height: auto;
            margin: 0;
            padding: 0;
            background: black;
            display: none;

            
            position: absolute;
            left: 0%;
            top: 100%;
            
            @extend .VLayout;

            white-space: nowrap;
            a
            {
                text-align: left;
            }
        }
    }

    .centerNavbar {
        display: flex;
        justify-content: center;
        flex: 4;
    }

    .endNavbar {
        display: flex;
        justify-content: end;
        flex: 1;
    }
}

div.topBotomBordersOut {

    >a,>div>a {
        &::after {
            position: absolute;
            left: 0px;
            width: 100%;
            height: 2px;
            background: $colorsPurple!important;
            content: "";
            opacity: 0;
            transition: all 0.3s;
        }

        &:after {
            bottom: 0px;
            transform: translateY(-10px);
        }

        &:hover::after {
            opacity: 1;
            transform: translateY(0px);

        }
    }
}

div.ogames li>a::after {
    background: $colorsPurple;
}