//variable color
// $color-max:#f674a4;
// $color-maxBis:#e06995;
// $color-done:#e1ddd9;
// $color-doneBis:#e9e5e2;
// $color-start:#66b3cc;
// $color-startBis:#5da3ba;
// $color-center:#a1ce5b;
// $color-centerBis:#91ba52;
// $color-end:#f0bb4b;
// $color-endBis:#d9aa44;
// $color-border:#bebbb9;
// $color-borderBis:#fcfcfc;


// @mixin progress-pourcentage($pourcentage:100%,$color-end,$color-endBis) {
// 	width:$pourcentage;

// 	background-color: $color-end;
// 	background-image: -webkit-gradient(linear, left top, left bottom, from($color-end), to($color-endBis));
// 	background-image: -webkit-linear-gradient(top, $color-end, $color-endBis);
// 	background-image: -moz-linear-gradient(top, $color-end, $color-endBis);
// 	background-image: -ms-linear-gradient(top, $color-end, $color-endBis);
// 	background-image: -o-linear-gradient(top, $color-end, $color-endBis);
// 	background-image: linear-gradient(top, $color-end, $color-endBis);
// 	-moz-animation:html-css 2s ease-out;
// 	-webkit-animation:html-css 2s ease-out;
//   }
  
// .progressBox{ 
// 	list-style: none;
// 	width: 296px;
// 	margin: 50px auto 0;
// 	position: relative;
// 	line-height: 2em;
// 	padding: 30px 0;
//     li {
//         margin-bottom:50px; 
//         background:$color-doneBis;
// 		@include progress-pourcentage('',$color-done,$color-doneBis);

//         height:20px; 
//         border-radius:10px; 

//         .progress{
//             position:relative; 
//             top:-25px;
//         }
//     }
// }

// .bar { 
// 	height:18px; 
// 	position:absolute;
// 	border-radius:10px;
// 	-moz-box-shadow: 0 1px 0px $color-borderBis inset, 0 1px 0 $color-border;
// 	-webkit-box-shadow: 0 1px 0px $color-borderBis inset, 0 1px 0 $color-border;	 
// 	box-shadow: 0 1px 0px $color-borderBis inset, 0 1px 0 $color-border;		
// }

// .max {
//     @include progress-pourcentage(100%,$color-max,$color-maxBis);
// }

// .end{
//     @include progress-pourcentage(80%,$color-end,$color-endBis);
// }

// .center{
//     @include progress-pourcentage(50%,$color-center,$color-centerBis);
// }

// .start{
//     @include progress-pourcentage(20%,$color-start,$color-startBis);
// }

// @-moz-keyframes max {0%  { width:0px;} 100%{ width:100%;}  }
// @-moz-keyframes end        { 0%  { width:0px;} 100%{ width:90%;}  }
// @-moz-keyframes center      { 0%  { width:0px;} 100%{ width:65%;}  }
// @-moz-keyframes start   { 0%  { width:0px;} 100%{ width:80%;}  }

// @-webkit-keyframes max       { 0%  { width:0px;} 100%{ width:100%;}  }
// @-webkit-keyframes end       { 0%  { width:0px;} 100%{ width:90%;}  }
// @-webkit-keyframes center    { 0%  { width:0px;} 100%{ width:65%;}  }
// @-webkit-keyframes start   { 0%  { width:0px;} 100%{ width:80%;}  }

$red : #F44336;
$orange: #FF9800;
$blue: #00BCD4;
$purple: #673AB7;
$green :#8BC34A;

//   progress {
//     opacity: 0;
//   }
  
.progress 
{
    width: 100%;
    margin: 0 0 10px;
}
  
.progress {
    position: relative;
    background: #eee;
    height: 20px;
    border-radius: 6px;
    overflow: hidden;

    texte{
        position: relative;
        z-index: 3;
        padding-left: 5px;
        color: #e2dfdf;
    }
    &::before 
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: turquoise;
    }
}

.success{
    @extend .progress;
    &::before {background: $green;}
}
.info{
    @extend .progress;
    &::before {background: $blue;}
}

.danger{
    @extend .progress;
    &::before {background: $red;}
}

.warning{
    @extend .progress;
    &::before {background: $orange;}
}

// .purple{
//     @extend .progress;
//     &::before {background: $purple;}
// }

  
@each $pourcentage in 100, 75, 50, 25, 10 {

    .progress-#{$pourcentage} .progress::before 
    {
        animation: progress-#{$pourcentage} 1s ease-in forwards;
        content: $pourcentage;
    }

    @keyframes progress-#{$pourcentage} 
    {
        to {
        //   width: percentage($pourcentage);
          width: $pourcentage*1%;
        }
    }
}
  