
.rad-label {
  display: flex;
  align-items: center;
  border-radius: 100px;
  margin: 8px 0;
  max-width: fit-content;
  padding-right: 10px;
  
  cursor: pointer;
  transition: 1s;
  
  &:hover, &:focus-within {
  background: hsla(0, 0%, 80%, .14);
  }
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
  width: 20px;
  height: 20px;
  border-radius: 100px;

&:focus+.rad-design::after, &:active+.rad-design::after {
  transform: scale(1.6);
}
}

.rad-design {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: linear-gradient(to right bottom, $color-grey-darker, $color-grey);
  position: relative;

  &::after, &::before{
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    transform: scale(0);
    transform-origin: center center;
  }

  &::before {
    background: hsl(0, 0%, 90%);
    transform: scale(1,1);
    transition: 1s;
  } 

  &::after {
    background: $color-grey-darker-shadow;
    transition: .6s;
  }

}

.rad-input:checked+.rad-design::before {
  transform: scale(-0.5);
  opacity: 1;
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}