//variables color
@mixin danger {
    background: #f8d7da;
    color: #b02a37;
    border: 1px solid #f1aeb5;
    p::before{
        content: "";
    }
}

@mixin success {
    background: #d1e7dd;
    color: #146c43;
    border: 1px solid #a3cfbb;
    p::before{
        content: "";
    }
}

@mixin warning {
    background: #fff3cd;
    color: #997404;
    border: 1px solid #ffe69c;
    p::before{
        content: "";
    }
}
@mixin info {
    background: #cfe2ff;
    color: #0a58ca;
    border: 1px solid #9ec5fe;
    p::before{
        content: "";
    }
}

.snackbar-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
     
    .snackbar {   
        display:flex;
        justify-content: space-between;
        border-radius: 10px;
        padding: 0px 0px 0px 40px;
        position:relative;  
        width: 100%;
        bottom: -200px;
        transition: bottom 0.5s ease-in-out;
        z-index:9;
        
        &.animated {
            animation-name: snackbar-show;
            animation-duration: 5s;
            animation-timing-function: ease-in-out;
            animation-delay:1s;
            animation-fill-mode: forwards;
            }
    
        @keyframes snackbar-show {
            0%{ bottom:-200px; }
            30%, 35% {bottom:15px; }
            32.5%, 40% {bottom:10px; }
            70%, 77.5% {bottom:10px; }
            75%,80% {bottom:15px; }
            100% {bottom:-200px; }
        } 

        &.info{
            @include info()
        }
        
        &.danger{
            @include danger();
        }
        
        &.success{
            @include success()
        }

        &.warning{
            @include warning()
        }

        .snackbar-action{
            background: transparent;
            border: transparent;
            color: inherit;
        }

        .snackbar-text{
            align-self: center;
        }
    }
}
