
$colorFontChecked:#FFEB3B;
$colorHeadChecked:#F44336;
$colorTabs:white;
$borderBot:5px;

.tabs {
    display: flex;
    flex-wrap: wrap;
    label {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        margin-right: 0.2rem;
        cursor: pointer;
        background-color: $colorHeadChecked;
        flex: 1;
        border-bottom: $borderBot solid transparent;
        &:hover{
            background-color: lighten($colorHeadChecked, 20);
            color: $colorFontChecked;
            border-bottom: $borderBot solid $colorFontChecked;
        }
    }
    .tab {
        order: 9;
        width: 100%;
        display: none;
        background: $colorTabs;
        padding: 20px;
    }
    input[type="radio"] {
        display: none;
        &:checked + label {
            background: darken($colorHeadChecked, 20);
            color: $colorFontChecked;
            border-bottom: $borderBot solid $colorFontChecked;
            + .tab {
                display: block;
            }
        }
    }
}
